@font-face {
   font-family: 'ClashDisplay-Light';
   font-display: swap;
   src: url('file:///C:/Users/PC/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-03-17_212624/fonts/ClashDisplay-Light/font.ttf');
}
