<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/workspace.css" />
  </head>
  <body>
    <div class="container">
      <h1>Dashboard</h1>
      <p>Hello <%= user.username %></p>

      <div class="button-grid">
        <!-- Button to Join Chat Room -->
        <form action="/joinChatRoom" method="GET">
          <button type="submit">Join Chat Room</button>
        </form>

        <!-- Button to Join Video Call -->
        <form action="/joinVideoCall" method="GET">
          <button type="submit">Join Video Call</button>
        </form>

        <!-- Button to Join Online Code Editing -->
        <form action="/joinCodeEditing" method="GET">
          <button type="submit">Join Code Editing</button>
        </form>
      </div>

      <!-- Other dashboard content here -->
    </div>
  </body>
</html>
